<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ 'assets/css/open-color.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/hydure.css' | relative_url }}">

  {% include custom-head.html %}
</head>
