<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% feed_meta %}
  {% seo %}
  
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ 'assets/css/open-color.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/hydure.css' | relative_url }}">

  <script async src="https://use.fontawesome.com/releases/v5.0.12/js/all.js"></script>

  {% include custom-head.html %}
</head>
