<header class="header">
  <h1 class="brand-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  <h2 class="brand-tagline">{{ site.tagline }}</h2>

  {% if site.data.navigation %}
    <nav class="nav pure-menu">
      <ul class="pure-menu-list">
      {% for item in site.data.navigation %}
        <li class="nav-item pure-menu-item">
          <a href="{{ item.url | relative_url }}" class="{% if page.url == item.url %}current{% endif %}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
