* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: $md-screen) {
  body {
    font-size: 120%;
  }
}
