.sidebar {
  color: var(--header-color);
  background-color: var(--header-bg);
  background: center / cover;
}

.header {
  font-family: var(--body-font);
  text-align: center;
  padding: 2em;

  a {
    color: var(--oc-white);
  }
}

.brand-title {
  font-family: var(--brand-title-font);
  font-size: 3.25em;
  font-weight: bold;
  margin: 0;
}

.brand-tagline {
  font-size: 1.25em;
  margin: 0;
}

.nav {
  margin: 1em 0;
}

.nav-item {
  a:hover {
    background-color: transparent;
  }

  .current {
    font-weight: bold;
  }
}

.social-item {
  a {
    background-color: transparent;
  }
}

@media (min-width: $md-screen) {
  .header {
    font-size: 80%;
    text-align: left;
    position: absolute;
    bottom: 0;
  }

  .nav-item a {
    padding-left: 0;
  }
}

@media (min-width: $lg-screen) {
  .header {
    font-size: 100%;
  }
}
