$sm-screen: 35.5rem;
$md-screen: 48rem;
$lg-screen: 64rem;
$xl-screen: 80rem;

:root {
  --body-font-size: 16px;
  --body-line-height: 1.5;
  --body-color: var(--oc-gray-7);
  --body-bg:    var(--oc-white);
  --link-color: var(--oc-blue-7);
  
  // https://github.com/necolas/normalize.css/issues/665
  --body-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --brand-title-font: "Abril Fatface", serif;

  --sidebar-color: var(--oc-gray-4);
  --sidebar-bg:    var(--oc-cyan-7);

  --message-color: var(--oc-gray-9);
  --message-bg:    var(--oc-yellow-1);

  --border-radius: .8em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: var(--oc-gray-4);
    --body-bg:    var(--oc-gray-9);
    --link-color: var(--oc-blue-4);
  }
}
