$sm-screen: 35.5rem;
$md-screen: 48rem;
$lg-screen: 64rem;
$xl-screen: 80rem;

:root {
  --body-font-size: 16px;
  --body-line-height: 1.5;
  
  // https://github.com/necolas/normalize.css/issues/665
  --body-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --brand-title-font: "Abril Fatface", serif;

  --link-color:   var(--oc-blue-4);
  --header-color: var(--oc-gray-4);
  --header-bg:    var(--oc-cyan-7);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
