<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}

  <body>
    <div id="layout" class="pure-g">
      {% assign cover = site.cover %}
      {% if page.cover %}
        {% assign cover = page.cover %}
      {% endif %}
      <div class="sidebar pure-u-1 pure-u-md-1-4" {% if cover %}style="background-image: url({{ cover | relative_url }});"{% endif %}>
        {% include header.html %}
      </div>
      <div class="content pure-u-1 pure-u-md-3-4">
        {{ content }}

        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
