---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date_to_string }}
    </time>
    {%- if page.last_modified_at -%}
      <span> ~ </span>
      {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
      <time datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date_to_string }}
      </time>
    {%- endif -%}
    {%- if page.author -%}
      <span> • </span>
      {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          {{ author }}
        </span>
        {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
    {%- endif -%}
  </div>
  
  {{ content }}
</article>
